body{
    background-color:hsl(212, 45%, 89%) ;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
}
.barcode-container{
    max-width: 300px;
    width: 90%;
    height: 400px;
    border: 1px;
    align-items: center;
    background-color: white;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
h2{
    color:  hsl(218, 44%, 22%);
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: hsl(220, 15%, 55%);
    text-align: center;
}
img{
    border-radius: 10px;
    
}
.barcode{
    display: flex;
    justify-content: center;
}
@media (min-width: 1000px) {
  .barcode-container{
    margin-top: 20px;
  }
  }